.article-header {
    
    border-bottom: 1px solid #ddd;
}
.content-item{
	min-height: 150px;
	padding-top: 10px;
	list-style: none;
	border-bottom: 3px dashed pink;
}
.content-item span{
	display: block;
	font-size:18px;
}
span.content-spec {
    padding: 20px;
}

@media screen and (max-width:600px) {
	.instagram .thumb {
		width: 50%;
		padding-bottom: 50%;
	}
	.instagram .album li {
		width: 100%;
		position: relative;
		padding-bottom: 100%;
		text-align: center;
	}
	.instagram .album div.img-box{
		margin: 0;
		width: 90%;
		height: 90%;
	}
}